.jumbotron {
    background: url(https://live.staticflickr.com/7336/26817690962_c607ae47a1_b.jpg);
    background-size: cover;
    background-position: center center;
    color: white
}

.pdfobject-container { 
    height: 30rem; 
    border: 1rem solid rgba(0,0,0,.1); 
}

.beta {
    width: 80px;
    height: auto;
}