<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CCU Course Query</title>
    <link rel="icon" href="./source/Logo/1200px_national_chung_cheng_university_logo_svg_2g8_icon.ico"
        type="image/x-icon">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="css\index.css">
</head>

<body>

    <div id="vue_app">
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="#">CCQ
                <img class="img-fluid beta" src="./source/Logo/beta_1355273_AHd_icon.ico" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.ccu.edu.tw/">CCU.edu.tw</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                        v-model="search">
                    <button class="btn btn-outline-success my-2 my-sm-0"
                        v-on:click.prevent="search_result">Search</button>
                </form>
            </div>
        </nav>

        <!-- jumbotron -->
        <div class="jumbotron text-center">
            <h1 class="display-4">CCU Course Query</h1>
        </div>

        <!-- main container -->
        <div class="container-fluid main">
            <div class="row">
                <course-card v-for="(course_element, key) in new_course_dict" :card_info="course_element" :key="key" @emit_detail="reveice_course_detail"></course-card>
            </div>
        </div>

        

        <!-- detail Modal -->
        <div class="modal fade" id="exampleModal" @="reveice_course_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{main_course_detail.科目名稱}}</h5>
                    </div>
                    <div class="modal-body">
                        <table class="table table-sm mt-2">
                            <thead>
                                <tr>
                                    <th class="col-6" scope="col">#</th>
                                    <th class="col-6" scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row">
                                    <th class="col-6">Year Standing</th>
                                    <td class="col-6">{{main_course_detail.年級}}</td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Course ID</th>
                                    <td class="col-6">{{main_course_detail.編號}}</td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Class</th>
                                    <td class="col-6" colspan="2">{{main_course_detail.班別}}</td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Instructor</th>
                                    <td class="col-6" colspan="2">{{main_course_detail.任課教授}}</td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Hours per week
                                        Regular/Experiments/Discussions</th>
                                    <td class="col-6" colspan="2">Null</td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Credit</th>
                                    <td class="col-6" colspan="2">{{main_course_detail.學分}}</td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Credit type</th>
                                    <td class="col-6" colspan="2">{{main_course_detail.選必}}</td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Day/Period</th>
                                    <td class="col-6" colspan="2">{{main_course_detail.上課時間}}</td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Classroom</th>
                                    <td class="col-6" colspan="2">{{main_course_detail.上課地點}}</td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Student Limit</th>
                                    <td class="col-6" colspan="2">{{main_course_detail.限修人數}}</td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Syllabus</th>
                                    <td class="col-6" colspan="2" >
                                        <a :href="main_course_detail.課程大綱" target="_blank">Link</a>
                                    </td>
                                </tr>
                                <tr scope="row">
                                    <th class="col-6">Remarks</th>
                                    <td class="col-6" colspan="2">{{main_course_detail.備註}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="#" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#pdf_modal">Detail</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- pdf Modal -->
        <!-- <div class="modal fade" id="pdf_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="example1"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>


    <script type="text/x-template" id="courseCardTemplate">
        <div class="col-6 col-sm-3 mb-3">
            <div class="card h-100">
                <div class="card-header" :class="color">{{card_info.College}} {{card_info.Department}} {{card_info.年級}} 年級</div>
                <div class="card-body">
                    <h6 class="card-title">{{card_info.科目名稱}}</h6>
                    <p class="card-text">{{card_info.任課教授}} {{card_info.學分}} {{card_info.選必}}</p>
                    <a href="#" @click="detail(card_info)" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Detail</a>
                </div>
            </div>
        </div>
    </script>


    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- pdfobject -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"></script>
    <script>PDFObject.embed("source/pdf/index.pdf", "#example1");</script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- js -->
    <script src="js\index.js"></script>
</body>

</html>